body {
    background: green;
}

.images-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}

.images-container > img {
    width: 400px;
    height: 300px;
}

.para-content {
    font-size: 24px;
    font-weight: 700;
}